# # Web scrapping data from website "cars.com"

In [2]:
# we need to use the urlopen module inside the urllib.request package
from urllib.request import urlopen as uReq
# we are importing the BeautifulSoup module from the bs4 package
from bs4 import BeautifulSoup as soup
# variable my_url is where we are storing the url
my_url = "https://www.cars.com/research/sedan/"
#variable uClient is used to pass the url into the uReq(urlopen)
uClient = uReq(my_url)
# variable page_html is used to open the html web page
page_html = uClient.read()
# closing the html webpage after it has been read
uClient.close()
# page soup variable is storing the parser for the html file
page_soup = soup(page_html, "html.parser")

# navigating through the html file to find all h4 tags with class name cui-delta
containers_1= page_soup.findAll("h4", {"class": "cui-delta"})

# navigating through the html file to find all "p" tags with class name "msrp" and "no-msrp-range"
containers_2= page_soup.findAll("p", {"class":["msrp","no-msrp-range"]})

# navigating through the html file to find all "p" tags and "cars-star-rating" with class name "no-cr" and "mlp" respectively
containers_3= page_soup.findAll(["p","cars-star-rating"], {"class":["no-cr","mlp"]})

# navigating through the html file to find all "p" tags with class name "mpg"
containers_4= page_soup.findAll("p", {"class":"mpg"})

# variable file_name is storing the csv file where the dataset will be saved
file_name = "cars.csv"
# variable f is used to open file cars.csv in the write mode
f = open(file_name, "w")
# variable headers stores the headers for our dataset
headers = "BRAND NAME, PRICE, CAR RATING, MILE PER GALLON\n"
# we write or save our headers first before the rest data
f.write(headers)
# create a counter
i = 0
# using a for loop, looping through data in containers_1
for data in containers_1:
	# exception handling of indexerror
	try:
		# increment of counter
		i = i + 1
		# price of cars stored here
		price = containers_2[i].text
		# car rating is stored here
		car_rating = containers_3[i].text.strip()
		# mile per gallon of car is stored here
		mile_per_gallon = containers_4[i].text
		# the car name are stored here
		car_name = containers_1[i].text
		
		#print("brand name: " + car_name)
		#print("MSRP: " + price)
		#print("car rating: " + car_rating)
		#print("MPG: " + mile_per_gallon + "\n")

		# we will write the data from the variables above into our csv file, we concatenate a delimeter "," as seperator for our csv file 
		# note: concatenate "\n" at the end to ensure a new line is started after writing first line of data
		f.write(car_name + "," + price.replace(","," ") + "," + car_rating + "," + mile_per_gallon + "\n")
	except IndexError:
		# if an index error occurs exception handles it by pass(ignoring it) and continue
		pass 
		continue

# Using pandas library, read scrapped csv file

In [6]:
import pandas as pd
data = pd.read_csv("cars.csv")

# Visualisation of scrapped data

In [8]:
df = pd.DataFrame(data)
df

,BRAND NAME,PRICE,CAR RATING,MILE PER GALLON
0,2021 BMW 750,$103 000,Not Available,19
1,2021 Audi S8,$130 900,Not Available,16
2,2021 BMW M5,No current listings. Get resale value.,Not Available,17
3,2021 Bentley Flying Spur,$216 700,Not Available,15
4,2021 Honda Clarity Plug-In Hybrid,$33 400,Not Available,42
5,2021 Maserati Ghibli,$72 190,Not Available,19
6,2021 Polestar 2,$59 900,Not Available,Coming Soon
7,2021 Subaru Legacy,$22 895,Not Available,30
8,2021 Volvo S90,$51 550,Not Available,25
9,2021 Audi A4,$39 100,Not Available,30
10,2021 Audi A6,$54 900,Not Available,27
11,2021 Audi A8,$86 500,Not Available,21
12,2021 Audi S4,$49 900,Not Available,23
13,2021 Audi S6,$74 400,Not Available,22
14,2021 BMW 228 Gran Coupe,$37 700,Not Available,27
15,2021 BMW 330,$41 250,Not Available,30
16,2021 BMW 530,$54 200,Not Available,28
17,2021 BMW 530e,$57 200,Not Available,27
18,2021 BMW 540,$59 450,Not Available,27
19,2021 BMW 745e,$95 900,Not Available,22
20,2021 BMW 840 Gran Coupe,$85 000,Not Available,25
21,2021 BMW ALPINA B7,$143 200,Not Available,19
22,2021 BMW M235 Gran Coupe,$45 500,Not Available,26
23,2021 BMW M340,$54 700,Not Available,26
24,2021 BMW M550,$76 800,Not Available,20
25,2021 BMW M760,$157 800,1 out of 5 Stars with 1 Review(s),16
26,2021 BMW M8 Gran Coupe,$130 000,Not Available,17
27,2021 BMW M850 Gran Coupe,$108 900,Not Available,19
28,2021 Cadillac CT4,$44 895,Not Available,23
29,2021 Cadillac CT4,$33 395,Not Available,26
30,2021 Cadillac CT5,$47 795,Not Available,20
31,2021 Cadillac CT5,$36 995,Not Available,26
32,2021 Chevrolet Malibu,$22 140,Not Available,32
33,2021 Chrysler 300,$30 445,Not Available,23
34,2021 Dodge Charger,$29 995,Not Available,23
35,2021 Genesis G80,$47 700,5 out of 5 Stars with 1 Review(s),26
36,2021 Honda Insight,$22 930,Not Available,52
37,2021 Hyundai Accent,$15 395,Not Available,33
38,2021 Hyundai Sonata,$23 600,5 out of 5 Stars with 1 Review(s),32
39,2021 INFINITI Q50,$36 600,Not Available,23
40,2021 Kia Forte,$17 890,Not Available,31
41,2021 Kia K5,$23 490,4.9 out of 5 Stars with 9 Review(s),32
42,2021 Mercedes-Benz A-Class,$33 650,Not Available,29
43,2021 Mercedes-Benz AMG A 35,$45 850,Not Available,27
44,2021 Mercedes-Benz CLA 250,$37 850,Not Available,29
45,2021 Toyota Avalon,$35 875,5 out of 5 Stars with 1 Review(s),26
46,2021 Toyota Avalon Hybrid,$37 000,Not Available,44
47,2021 Toyota Corolla,$19 925,4.9 out of 5 Stars with 9 Review(s),33
48,2021 Toyota Corolla Hybrid,$23 500,5 out of 5 Stars with 1 Review(s),52
49,2021 Volkswagen Jetta,$18 995,Not Available,34
50,2021 Volkswagen Jetta GLI,$26 345,Not Available,28
51,2021 Volkswagen Passat,$23 995,Not Available,28
52,2021 Volvo S60,$37 750,Not Available,27
53,2021 Volvo S60 Recharge Plug-In Hybrid,$47 650,Not Available,30
54,2021 Volvo S90 Recharge Plug-In Hybrid,$60 050,Not Available,30

# Visualise the first 5 rows on the data

In [10]:
df1 = df.head()
df1

,BRAND NAME,PRICE,CAR RATING,MILE PER GALLON
0,2021 BMW 750,$103 000,Not Available,19
1,2021 Audi S8,$130 900,Not Available,16
2,2021 BMW M5,No current listings. Get resale value.,Not Available,17
3,2021 Bentley Flying Spur,$216 700,Not Available,15
4,2021 Honda Clarity Plug-In Hybrid,$33 400,Not Available,42

In [11]:
print(df1.describe)

<bound method NDFrame.describe of                           BRAND NAME                                   PRICE  \
0                       2021 BMW 750                                $103 000
1                       2021 Audi S8                                $130 900
2                        2021 BMW M5  No current listings. Get resale value.
3           2021 Bentley Flying Spur                                $216 700
4  2021 Honda Clarity Plug-In Hybrid                                 $33 400

      CAR RATING  MILE PER GALLON
0  Not Available               19
1  Not Available               16
2  Not Available               17
3  Not Available               15
4  Not Available               42  >